@page "/"
@using Models
@using Utilities

<Modal @ref="Modal" PopUpNum="@PopUpNum"></Modal>

<div class="container mx-2">
    <h1>BellBoard Performance Entry Mock-up</h1>

    <EditForm Model="@Performance">
        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3">
                Bells per ringer
                <button @onclick="BellsPerRingerPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputSelect Value="@Performance.BellsPerRinger"
                             ValueChanged="@( (string value) => BellsPerRingerChanged(value) )"
                             ValueExpression="@( () => Performance.BellsPerRinger )">
                    @for (int i = 1; i <= 2; i++)
                    {
                        <option value="@i">@ControlData.BellsPerRinger(i)</option>
                    }
                </InputSelect>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Style
                <button @onclick="StylePopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputSelect Value="@Performance.Style"
                             ValueChanged="@( (string value) => StyleChanged(value) )"
                             ValueExpression="@( () => Performance.Style )">
                    @for (int i = 1; i <= 4; i++)
                    {
                        <option value="@i">@ControlData.Style(i)</option>
                    }
                </InputSelect>
            </div>

            @if (Performance.Style == "4")
            {
                <div class="col-6 col-md-4 col-lg-3">
                    Other Style
                    <br />
                    <InputText @bind-Value="Performance.StyleOther" style="width: 100%" />
                </div>
            }
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3">
                Association
                <br />
                <InputText @bind-Value="Performance.Association" style="width: 100%" />
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Date
                <br />
                <InputText @bind-Value="Performance.Date" style="width: 100%" />
            </div>
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3 pt-2">
                Distributed performance? &nbsp;
                <InputCheckbox Value="@Performance.Distributed"
                               ValueChanged="@( (bool value) => DistributedChanged(value) )"
                               ValueExpression="@( () => Performance.Distributed )">
                    @for (int i = 1; i <= 4; i++)
                    {
                        <option value="@i">@ControlData.Style(i)</option>
                    }
                </InputCheckbox>
                <button @onclick="DistributedPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
            </div>

            @if (Performance.Distributed == false)
            {
                <div class="col-6 col-md-4 col-lg-3">
                    Place
                    <br />
                    <InputText @bind-Value="Performance.Location" style="width: 100%" />
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    County, State, Country
                    <br />
                    <InputText @bind-Value="Performance.County" style="width: 100%" />
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    Dedication / Address
                    <br />
                    <InputText @bind-Value="Performance.Address" style="width: 100%" />
                </div>
            }
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3 pt-3">
                Online performance? &nbsp;
                <InputCheckbox Value="@Performance.Online"
                               ValueChanged="@( (bool value) => OnlineChanged(value) )"
                               ValueExpression="@( () => Performance.Online )">
                    @for (int i = 1; i <= 4; i++)
                    {
                        <option value="@i">@ControlData.Style(i)</option>
                    }
                </InputCheckbox>
                <button @onclick="OnlinePopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
            </div>

            @if (Performance.Online == true)
            {
                <div class="col-6 col-md-4 col-lg-3">
                    Online platform
                    <button @onclick="OnlinePlatformPopUp" style="background-color: white; border: none">
                        <b>&#9432;</b>
                    </button>
                    <br />
                    <InputText @bind-Value="Performance.Platform" style="width: 100%" />
                </div>
            }
            else
            {
                <div class="col-6 col-md-4 col-lg-3">
                    Tenor weight / size, note
                    <button @onclick="TenorPopUp" style="background-color: white; border: none">
                        <b>&#9432;</b>
                    </button>
                    <br />
                    <InputText @bind-Value="Performance.Tenor" style="width: 100%" />
                </div>
            }

            <div class="col-6 col-md-4 col-lg-3">
                Time taken
                <button @onclick="TimePopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputText @bind-Value="Performance.Time" style="width: 100%" />
            </div>
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3">
                Performance Title
                <br />
                <InputText @bind-Value="Performance.Title" style="width: 100%" />
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Composer
                <br />
                <InputText @bind-Value="Performance.Composer" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                Performance Detail
                <br />
                <InputText @bind-Value="Performance.Detail" style="width: 100%" />
            </div>
        </div>

        <hr />

        @if (Performance.BellsPerRinger == "1")
        {
            @for (int i = 1; i <= 8; i++)
            {
                <div class="row mt-1">
                    <div class="col-2 col-lg-1">
                        @i
                    </div>

                    <div class="col-3 col-lg-1">
                        [Name]
                    </div>

                    @if (Performance.Distributed == true)
                    {
                        <div class="col-6 col-lg-3">
                            [Approx location]
                        </div>
                    }
                </div>
            }
        }
        else
        {
            @for (int i = 1; i <= 8; i += 2)
            {
                <div class="row mt-1">
                    <div class="col-2 col-lg-1">
                        @i-@(i+1)
                    </div>

                    <div class="col-3 col-lg-1">
                        [Name]
                    </div>

                    @if (Performance.Distributed == true)
                    {
                        <div class="col-6 col-lg-3">
                            [Approx location]
                        </div>
                    }
                </div>
            }
        }

        <hr />

        <div class="row mt-2">
            <div class="col">
                Footnotes
                <br />
                <InputTextArea @bind-Value="Performance.Footnotes" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                New methods named
                <button @onclick="NewMethodsPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputTextArea @bind-Value="Performance.NewMethods" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                Departures from Norms
                <button @onclick="NormsPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputTextArea @bind-Value="Performance.NormDepartures" style="width: 100%" />
            </div>
        </div>

        <hr />
    </EditForm>

    <br />
    <br />
</div>
