@page "/"
@using Models
@using Utilities

<Modal @ref="Modal" PopUpNum="@PopUpNum"></Modal>

<div class="container mx-2">
    <h1>BellBoard Performance Entry Mock-up</h1>

    <EditForm Model="@Performance">
        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3">
                Bells per ringer
                <button @onclick="BellsPerRingerPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputSelect Value="@Performance.BellsPerRinger"
                             ValueChanged="@( (string value) => BellsPerRingerChanged(value) )"
                             ValueExpression="@( () => Performance.BellsPerRinger )"
                             style="width: 100%" >
                    @for (int i = 1; i <= 2; i++)
                    {
                        <option value="@i">@ControlData.BellsPerRinger(i)</option>
                    }
                </InputSelect>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Style
                <button @onclick="StylePopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputSelect Value="@Performance.Style"
                             ValueChanged="@( (string value) => StyleChanged(value) )"
                             ValueExpression="@( () => Performance.Style )"
                             style="width: 100%" >
                    @for (int i = 1; i <= 4; i++)
                    {
                        <option value="@i">@ControlData.Style(i)</option>
                    }
                </InputSelect>
            </div>

            @if (Performance.Style == "4")
            {
                <div class="col-6 col-md-4 col-lg-3">
                    Other Style
                    <br />
                    <InputTextArea @bind-Value="Performance.StyleOther" style="width: 100%" />
                </div>
            }
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3">
                Association (drop down)
                <br />
                <InputSelect Value="@Performance.AssociationDropDown"
                             ValueChanged="@( (string value) => AssociationDropDownChanged(value) )"
                             ValueExpression="@( () => Performance.AssociationDropDown )"
                             style="width: 100%" >
                    <option value="Please select">Please select...</option>
                    <option value="ASCY">ASCY</option>
                    <option value="SRCY">SRCY</option>
                    <option value="Guild of St Cuileáin">Guild of St Cuileáin</option>
                    <option value="etc">etc</option>
                </InputSelect>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Association (free form)
                <br />
                <InputText @bind-Value="Performance.AssociationFreeForm" style="width: 100%" />
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Date
                <br />
                <InputText @bind-Value="Performance.Date" style="width: 100%" />
            </div>
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3 pt-2">
                Distributed? &nbsp;
                <InputCheckbox Value="@Performance.Distributed"
                               ValueChanged="@( (bool value) => DistributedChanged(value) )"
                               ValueExpression="@( () => Performance.Distributed )" />
                <button @onclick="DistributedPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
            </div>

            @if (Performance.Distributed == false)
            {
                <div class="col-6 col-md-4 col-lg-3">
                    Place
                    <br />
                    <InputText @bind-Value="Performance.Location" style="width: 100%" />
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    County, State, Country
                    <br />
                    <InputText @bind-Value="Performance.County" style="width: 100%" />
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    Dedication / Address
                    <br />
                    <InputText @bind-Value="Performance.Address" style="width: 100%" />
                </div>
            }
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-6 col-md-4 col-lg-3">
                Tenor info (if applicable)
                <button @onclick="TenorPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputText @bind-Value="Performance.Tenor" style="width: 100%" />
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Platform (if applicable)
                <button @onclick="PlatformPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputText @bind-Value="Performance.Platform" style="width: 100%" />
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                Time taken
                <button @onclick="TimePopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputText @bind-Value="Performance.Time" style="width: 100%" />
            </div>
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-7 col-md-6 col-lg-4">
                Performance Title
                <button @onclick="TitlePopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
            </div>

            <div class="col-5 col-lg-3">
                Composer
            </div>
        </div>

        <div class="row">
            <div class="col-2 col-lg-1 pr-1">
                <InputText @bind-Value="Performance.Length"
                           style="width: 100%" />
                <br />
                <small>Length</small>
            </div>

            <div class="col-5 col-md-4 col-lg-3 pl-1">
                <InputText @bind-Value="Performance.Title" style="width: 100%" />
                <br />
                <small>Method / Class / Stage</small>
            </div>

            <div class="col-5 col-md-4 col-lg-3">
                <InputText @bind-Value="Performance.Composer" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                Performance Detail
                <button @onclick="DetailPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputTextArea @bind-Value="Performance.Detail" style="width: 100%" />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                Enter additional ringer-level info? &nbsp;
                <InputCheckbox Value="@Performance.AdditionalRingerInfo"
                               ValueChanged="@( (bool value) => AdditionalRingerInfoChanged(value) )"
                               ValueExpression="@( () => Performance.AdditionalRingerInfo )" />
                <button @onclick="AdditionalRingerInfoPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
            </div>
        </div>


        <div class="row mt-3">
            @if (Performance.BellsPerRinger == "1")
            {
                <div class="col-2 col-lg-1">
                    Bell
                </div>
            }
            else
            {
                <div class="col-2 col-lg-1">
                    Bells
                </div>
            }

            <div class="col-3">
                Ringer
            </div>

            <div class="col-1">
                (C)
            </div>
            @if (Performance.AdditionalRingerInfo == true)
            {
                <div class="col-3">
                    Info
                </div>
            }

            @if (Performance.Distributed == true)
            {
                <div class="col-3">
                    Approx location
                </div>
            }
        </div>

        @foreach (RingerResponse ringer in Performance.Ringers)
        {
            <div class="row mt-1">
                <div class="col-2 col-lg-1">
                    <label>@ringer.Bell</label>
                </div>

                <div class="col-3">
                    <InputText id="@ringer.Bell"
                               @bind-Value="ringer.Ringer"
                               style="width: 100%" />
                </div>

                <div class="col-1">
                    <InputCheckbox id="@ringer.Bell"
                                   @bind-Value="ringer.Conductor"
                                   style="margin-left: 5px"/>
                </div>

                @if (Performance.AdditionalRingerInfo == true)
                {
                    <div class="col-3">
                        <InputText id="@ringer.Bell"
                                   @bind-Value="ringer.RingerInfo"
                                   style="width: 100%" />
                    </div>
                }

                @if (Performance.Distributed == true)
                {
                    <div class="col-3">
                        <InputText id="@ringer.Bell"
                                   @bind-Value="ringer.RingerLocation"
                                   style="width: 100%" />
                    </div>
                }
            </div>
        }

        <hr />

        <div class="row mt-2">
            <div class="col">
                Footnotes
                <br />
                <InputTextArea @bind-Value="Performance.Footnotes" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                New methods named
                <button @onclick="NewMethodsPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputTextArea @bind-Value="Performance.NewMethods" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                Departures from Norms
                <button @onclick="NormsPopUp" style="background-color: white; border: none">
                    <b>&#9432;</b>
                </button>
                <br />
                <InputTextArea @bind-Value="Performance.NormDepartures" style="width: 100%" />
            </div>
        </div>

        <hr />
    </EditForm>

    <br />
    <br />
</div>
