@page "/"
@using Models
@using Utilities

<div class="container ml-2">
    <h1>BellBoard Performance Entry Mock-up</h1>

    <EditForm Model="@Performance">
        <div class="mt-4">
            <label>
                Bells Per Ringer <br />
                <InputSelect Value="@Performance.BellsPerRinger"
                             ValueChanged="@( (string value) => BellsPerRingerChanged(value) )"
                             ValueExpression="@( () => Performance.BellsPerRinger )">
                    @for (int i = 1; i <= 2; i++)
                    {
                        <option value="@i">@ControlData.BellsPerRinger(i)</option>
                    }
                </InputSelect>
            </label>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Style <br />
                    <InputSelect Value="@Performance.Style"
                                 ValueChanged="@( (string value) => StyleChanged(value) )"
                                 ValueExpression="@( () => Performance.Style )">
                        @for (int i = 1; i <= 4; i++)
                        {
                            <option value="@i">@ControlData.Style(i)</option>
                        }
                    </InputSelect>
                </label>
            </div>

            @if (Performance.Style == "4")
            {
                <div class="col-3">
                    <label>
                        Other Style <br />
                        <InputText @bind-Value="Performance.StyleOther">
                        </InputText>
                    </label>
                </div>
            }
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Association <br />
                    <InputText @bind-Value="Performance.Association">
                    </InputText>
                </label>
            </div>

            <div class="col-3">
                <label>
                    Date <br />
                    <InputText @bind-Value="Performance.Date">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3 pt-4">
                <label>
                    Distributed performance? &nbsp;
                    <InputCheckbox Value="@Performance.Distributed"
                                   ValueChanged="@( (bool value) => DistributedChanged(value) )"
                                   ValueExpression="@( () => Performance.Distributed )">
                        @for (int i = 1; i <= 4; i++)
                        {
                            <option value="@i">@ControlData.Style(i)</option>
                        }
                    </InputCheckbox>
                </label>
            </div>

            @if (Performance.Distributed == false)
            {
                <div class="col-3">
                    <label>
                        Place, County, State, Country <br />
                        <InputText @bind-Value="Performance.Place">
                        </InputText>
                    </label>
                </div>

                <div class="col-3">
                    <label>
                        Dedication / Address <br />
                        <InputText @bind-Value="Performance.Address">
                        </InputText>
                    </label>
                </div>
            }
        </div>

        <div class="row mt-2">
            <div class="col-3 pt-4">
                <label>
                    Online performance? &nbsp;
                    <InputCheckbox Value="@Performance.Online"
                                   ValueChanged="@( (bool value) => OnlineChanged(value) )"
                                   ValueExpression="@( () => Performance.Online )">
                        @for (int i = 1; i <= 4; i++)
                        {
                            <option value="@i">@ControlData.Style(i)</option>
                        }
                    </InputCheckbox>
                </label>
            </div>

            @if (Performance.Online == true)
            {
                <div class="col-3">
                    <label>
                        Online platform <br />
                        <InputText @bind-Value="Performance.Platform">
                        </InputText>
                    </label>
                </div>
            }
            else
            {
                <div class="col-3">
                    <label>
                        Tenor weight / size, note <br />
                        <InputText @bind-Value="Performance.Tenor">
                        </InputText>
                    </label>
                </div>
            }
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Performance Title <br />
                    <InputText @bind-Value="Performance.Title">
                    </InputText>
                </label>
            </div>

            <div class="col-3">
                <label>
                    Time taken <br />
                    <InputText @bind-Value="Performance.Time">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Performance Detail <br />
                    <InputText @bind-Value="Performance.Detail">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-3">
                <label>
                    Composer <br />
                    <InputText @bind-Value="Performance.Composer">
                    </InputText>
                </label>
            </div>
        </div>

        @if (Performance.BellsPerRinger == "1")
        {
            @for (int i = 1; i <= 8; i++)
            {
                <div class="row mt-1">
                    <div class="col-1">
                        @i
                    </div>

                    <div class="col-1">
                        [Name]
                    </div>

                    @if (Performance.Distributed == true)
                    {
                        <div class="col-2">
                            [Approx location]
                        </div>
                    }
                </div>
            }
        }
        else
        {
            @for (int i = 1; i <= 8; i += 2)
            {
                <div class="row mt-1">
                    <div class="col-1">
                        @i-@(i+1)
                    </div>

                    <div class="col-1">
                        [Name]
                    </div>

                    @if (Performance.Distributed == true)
                    {
                        <div class="col-2">
                            [Approx location]
                        </div>
                    }
                </div>
            }
        }

        <div class="row mt-4">
            <div class="col-3">
                <label>
                    Footnotes <br />
                    <InputText @bind-Value="Performance.Footnotes">
                    </InputText>
                </label>
            </div>

            <div class="col-3">
                <label>
                    New methods named <br />
                    <InputText @bind-Value="Performance.NewMethods">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="mt-3">
            <u>Norms</u>
        </div>

        <div class="row mt-2">
            @if (Performance.Online == true)
            {
                <div class="col-4">
                    <label>
                        The performance used simulated sound &nbsp;
                        <InputCheckbox @bind-Value="Performance.SoundNorm">
                        </InputCheckbox>
                    </label>
                </div>
            }
            else
            {
                <div class="col-4">
                    <label>
                        The performance sound was from live bells &nbsp;
                        <InputCheckbox @bind-Value="Performance.SoundNorm">
                        </InputCheckbox>
                    </label>
                </div>
            }
        </div>

        @if (Performance.SoundNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.SoundNormComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-4">
                <label>
                    The performance was a true round block that started and ended in rounds,
                    and was rung without interval &nbsp;
                    <InputCheckbox @bind-Value="Performance.TrueRoundBlockNorm">
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.TrueRoundBlockNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.TrueRoundBlockComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        @if (Performance.Style == "2")
        {
            <div class="row mt-2">
                <div class="col-4">
                    <label>
                        Handbells were retained in hand throughout the performance &nbsp;
                        <InputCheckbox @bind-Value="Performance.RetainedInHandNorm">
                        </InputCheckbox>
                    </label>
                </div>
            </div>

            @if (Performance.RetainedInHandNorm == false)
            {
                <div class="row mt-2">
                    <div class="col-3">
                        <label>
                            Disclosure for above <br />
                            <InputText @bind-Value="Performance.RetainedInHandComment">
                            </InputText>
                        </label>
                    </div>
                </div>
            }
        }

        <div class="row mt-2">
            <div class="col-4">
                <label>
                    The same person or persons rang each bell or bells continously throughout
                    the performance &nbsp;
                    <InputCheckbox @bind-Value="Performance.SamePersonNorm">
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.SamePersonNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.SamePersonComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-4">
                <label>
                    No physical aids to memory were used, and no assistance from
                    anyone not ringing &nbsp;
                    <InputCheckbox @bind-Value="Performance.NoAssistanceNorm">
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.NoAssistanceNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.NoAssistanceComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-4">
                <label>
                    All bells were rung by human ringers &nbsp;
                    <InputCheckbox @bind-Value="Performance.HumanNorm">
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.HumanNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.HumanComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-4">
                <label>
                    In any given row, all bells rang at the same stroke,
                    cover bells were in the highest places of the row,
                    only one method or variation was used to generate the row,
                    and jump changes were not used &nbsp;
                    <InputCheckbox @bind-Value="Performance.TechnicalNorm">
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.TechnicalNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.TechnicalComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-4">
                <label>
                    The performance was not part of a failed longer attempt &nbsp;
                    <InputCheckbox @bind-Value="Performance.NoFailureNorm">
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.NoFailureNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Disclosure for above <br />
                        <InputText @bind-Value="Performance.NoFailureComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }
    </EditForm>

    <br />
    <br />
</div>
