@page "/"
@using Models
@using Utilities

<div class="container ml-2">
    <h1>BellBoard Performance Entry Mock-up</h1>

    <EditForm Model="@Performance">
        <div class="mt-4">
            <label>
                Bells Per Ringer <br />
                <InputSelect Value="@Performance.BellsPerRinger"
                             ValueChanged="@( (string value) => BellsPerRingerChanged(value) )"
                             ValueExpression="@( () => Performance.BellsPerRinger )">
                    @for (int i = 1; i <= 2; i++)
                    {
                        <option value="@i">@ControlData.BellsPerRinger(i)</option>
                    }
                </InputSelect>
            </label>
        </div>

        <div class="row mt-2">
            <div class="col-2">
                <label>
                    Style <br />
                    <InputSelect Value="@Performance.Style"
                                 ValueChanged="@( (string value) => StyleChanged(value) )"
                                 ValueExpression="@( () => Performance.Style )">
                        @for (int i = 1; i <= 4; i++)
                        {
                            <option value="@i">@ControlData.Style(i)</option>
                        }
                    </InputSelect>
                </label>
            </div>

            @if (Performance.Style == "4")
            {
                <div class="col-3">
                    <label>
                        Other Style <br />
                        <InputText @bind-Value="Performance.StyleOther">
                        </InputText>
                    </label>
                </div>
            }
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Association <br />
                    <InputText @bind-Value="Performance.Association">
                    </InputText>
                </label>
            </div>

            <div class="col-3">
                <label>
                    Date <br />
                    <InputText @bind-Value="Performance.Date">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Distributed performance? &nbsp;
                    <InputCheckbox Value="@Performance.Distributed"
                                   ValueChanged="@( (bool value) => DistributedChanged(value) )"
                                   ValueExpression="@( () => Performance.Distributed )">
                        @for (int i = 1; i <= 4; i++)
                        {
                            <option value="@i">@ControlData.Style(i)</option>
                        }
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.Distributed == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Place, County, State, Country <br />
                        <InputText @bind-Value="Performance.Place">
                        </InputText>
                    </label>
                </div>

                <div class="col-3">
                    <label>
                        Dedication / Address <br />
                        <InputText @bind-Value="Performance.Address">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Online performance? &nbsp;
                    <InputCheckbox Value="@Performance.Online"
                                   ValueChanged="@( (bool value) => OnlineChanged(value) )"
                                   ValueExpression="@( () => Performance.Online )">
                        @for (int i = 1; i <= 4; i++)
                        {
                            <option value="@i">@ControlData.Style(i)</option>
                        }
                    </InputCheckbox>
                </label>
            </div>
        </div>

        @if (Performance.Online == true)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Online platform <br />
                        <InputText @bind-Value="Performance.Platform">
                        </InputText>
                    </label>
                </div>
            </div>
        }
        else
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Tenor weight / size, note <br />
                        <InputText @bind-Value="Performance.Tenor">
                        </InputText>
                    </label>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Time taken <br />
                    <InputText @bind-Value="Performance.Time">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Performance Title <br />
                    <InputText @bind-Value="Performance.Title">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    Performance Detail <br />
                    <InputText @bind-Value="Performance.Detail">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-3">
                <label>
                    Composer <br />
                    <InputText @bind-Value="Performance.Composer">
                    </InputText>
                </label>
            </div>
        </div>

        @if (Performance.BellsPerRinger == "1")
        {
            @for (int i = 1; i <= 8; i++)
            {
                <div class="row mt-1">
                    <div class="col-1">
                        @i
                    </div>

                    <div class="col-1">
                        [Name]
                    </div>

                    @if (Performance.Distributed == true)
                    {
                        <div class="col-2">
                            [Approx location]
                        </div>
                    }
                </div>
            }
        }
        else
        {
            @for (int i = 1; i <= 8; i += 2)
            {
                <div class="row mt-1">
                    <div class="col-1">
                        @i-@(i+1)
                    </div>

                    <div class="col-1">
                        [Name]
                    </div>

                    @if (Performance.Distributed == true)
                    {
                        <div class="col-2">
                            [Approx location]
                        </div>
                    }
                </div>
            }
        }

        <div class="row mt-4">
            <div class="col-3">
                <label>
                    Footnotes <br />
                    <InputText @bind-Value="Performance.Footnotes">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>
                    New methods named <br />
                    <InputText @bind-Value="Performance.NewMethods">
                    </InputText>
                </label>
            </div>
        </div>

        <div class="mt-3">
            <u>Norms</u>
        </div>

        <div class="row mt-2">
            @if (Performance.Online == true)
            {
                <div class="col-4">
                    <label>
                        The performance used simulated sound &nbsp;
                        <InputCheckbox @bind-Value="Performance.SoundNorm">
                        </InputCheckbox>
                    </label>
                </div>
            }
            else
            {
                <div class="col-4">
                    <label>
                        The performance sound was from live bells &nbsp;
                        <InputCheckbox @bind-Value="Performance.SoundNorm">
                        </InputCheckbox>
                    </label>
                </div>
            }
        </div>

        @if (Performance.SoundNorm == false)
        {
            <div class="row mt-2">
                <div class="col-3">
                    <label>
                        Sound disclosure <br />
                        <InputText @bind-Value="Performance.SoundNormComment">
                        </InputText>
                    </label>
                </div>
            </div>
        }
    </EditForm>

    <br />
    <br />
</div>
