@page "/preview"
@using BellBoardMockUp.Models
@using BellBoardMockUp.Utilities

<div class="container mx-2">
    @if (Performance.AssociationDropDown != 0)
    {
        <div>
            <b>@ControlData.Association(Performance.AssociationDropDown)</b>
        </div>
    }
    else if (!string.IsNullOrEmpty(Performance.AssociationFreeForm))
    {
        <div>
            <b>@Performance.AssociationFreeForm</b>
        </div>
    }

    @if (!string.IsNullOrEmpty(Performance.Location) && !string.IsNullOrEmpty(Performance.County))
    {
        <div>
            <b>@Performance.Location,</b> @Performance.County
        </div>
    }
    else if (!string.IsNullOrEmpty(Performance.Location))
    {
        <div>
            <b>@Performance.Location</b>
        </div>
    }
    else if (!string.IsNullOrEmpty(Performance.County))
    {
        <div>
            <b>@Performance.County</b>
        </div>
    }

    @if (!string.IsNullOrEmpty(Performance.Platform))
    {
        <div>
            <b>@Performance.Platform</b>
        </div>
    }

    @if (!string.IsNullOrEmpty(Performance.Address))
    {
        <div>
            @Performance.Address
        </div>
    }

    <div>
        <div style="display: inline-block">
            @Performance.Date
        </div>

        @if (!string.IsNullOrEmpty(Performance.Time))
        {
            <div style="display: inline-block">
                in @Performance.Time
            </div>
        }

        @if (!string.IsNullOrEmpty(Performance.Tenor))
        {
            <div style="display: inline-block">
                (@Performance.Tenor)
            </div>
        }
    </div>

    <div>
        <b>@Performance.Length @Performance.Title</b>
    </div>

    @if (!string.IsNullOrEmpty(Performance.Detail))
    {
        <div style="font-size: 12px">
            @Performance.Detail
        </div>
    }

    @if (!string.IsNullOrEmpty(Performance.Composer))
    {
        <div>
            Composed by @Performance.Composer
        </div>
    }

    @foreach (RingerData ringerData in Performance.Ringers)
    {
        <div>
            <div style="display: inline-block; width: 40px">
                @ringerData.Bell
            </div>

            <div style="display: inline-block">
                @ConsolidatedRinger(ringerData)
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(Performance.Footnotes))
    {
        <div>
            @Performance.Footnotes
        </div>
    }

    @foreach (var newMethodData in Performance.NewMethods)
    {
        @if (!string.IsNullOrEmpty(@newMethodData.Title) || !string.IsNullOrEmpty(@newMethodData.PlaceNotation))
        {
            <div>

                @newMethodData.Title: @newMethodData.PlaceNotation
            </div>
        }
    }

    @if (!string.IsNullOrEmpty(Performance.NormDepartures))
    {
        <div>
            @Performance.NormDepartures
        </div>
    }

    <hr />

    <div>
        <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("/entry"))">
            Return to Entry page
        </button>
    </div>
</div>
