@page "/preview"
@using BellBoardMockUp.Models
@using BellBoardMockUp.Utilities

<div class="container mx-2">
    <h1>BellBoard Performance Preview Mock-up</h1>

    <hr />

    @if (Performance.AssociationDropDown != 0)
    {
        <div>
            <b>@ControlData.Association(Performance.AssociationDropDown)</b>
        </div>
    }
    else if (Performance.AssociationFreeForm != string.Empty)
    {
        <div>
            <b>@Performance.AssociationFreeForm</b>
        </div>
    }

    <div>
        <div style="display: inline-block">
            @Performance.Location
        </div>

        @if (Performance.County != string.Empty)
        {
            <div style="display: inline-block">
                , @Performance.County
            </div>
        }
    </div>

    <div>
        @Performance.Address
    </div>

    <div>
        <div style="display: inline-block">
            @Performance.Date
        </div>

        @if (Performance.Time != string.Empty)
        {
            <div style="display: inline-block">
                in @Performance.Time
            </div>
        }

        @if (Performance.Tenor != string.Empty)
        {
            <div style="display: inline-block">
                (@Performance.Tenor)
            </div>
        }
    </div>

    <div>
        <b>@Performance.Title</b>
    </div>

    <div>
        @Performance.Composer
    </div>

    @foreach (RingerData ringerData in Performance.Ringers)
    {
        <div>
            <div style="display: inline-block; width: 60px">
                @ringerData.Bell
            </div>

            <div style="display: inline-block; width: 120px">
                @ringerData.Ringer
            </div>

            <div style="display: inline-block; width: 80px">
                (@ringerData.RingerInfo)
            </div>

            <div style="display: inline-block; width: 100px">
                (@ringerData.RingerLocation)
            </div>
        </div>
    }

    <div>
        @Performance.Footnotes
    </div>

    <div>
        [New method info to go here]
    </div>

    <div>
        @Performance.NormDepartures
    </div>

    <hr />

    <div>
        <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("/"))">
            Return to entry page
        </button>
    </div>
</div>
